Welcome to {{ project_name }}'s documentation!
===========================================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:

   .. mdinclude:: ../README.md
   installation
   .. mdinclude:: ../USAGE.md
   .. mdinclude:: ../CONTRIBUTING.md
   .. mdinclude:: ../AUTHORS.md
   .. mdinclude:: ../HISTORY.md
   modules

Indices and tables
==================
* :ref:`genindex`
* :ref:`search`
