Welcome to {{ project_name }}'s documentation!
===========================================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:

   ../README
   installation
   ../USAGE
   ../CONTRIBUTING
   ../AUTHORS
   ../HISTORY
   modules

Indices and tables
==================
* :ref:`genindex`
* :ref:`search`
