[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
bumpversion = "*"
coverage = "*"
flake8 = "*"
flake8-isort = "*"
isort = "*"
pip = "*"
pluggy= "*"
pytest-runner = "*"
pytest = "*"
sphinx = "*"
tox = "*"
twine = "*"
watchdog = "*"
wheel = "*"

[packages]
{{ cookiecutter.project_slug }} = {editable = true,path = "."}

[requires]
python_version = "3.7"
