# Usage

Use {{ project_name }} in a project:

```python
import {{ project_package }}
```

Before running, make sure to activate your project environment:

```bash
conda activate {{ project_slug }}
```
