"""Top-level package for {{ project_name }}."""
# Standard library
import importlib.metadata

__author__ = "{{ author_name }}"
__email__ = "{{ author_email }}"
__version__ = importlib.metadata.version(__package__)

del importlib
